@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$secundario;
    padding-top: v.$separacion;

    &__grid{
        @include m.tablet { 
            @include m.grid(3, 1rem);
         }
    }

    &__widget{
        margin-bottom: v.$separacion;
        &:last-of-type{
            margin-bottom: 0;
        }
    }

    &__heading{
        color:v.$blanco;
        margin: 0 0 0 0;
        text-align: center;

        @include m.tablet { 
            text-align: left;
         }
    }

    &__nav{
        display: flex;
        flex-direction: column;   
    }

    &__nav,
    &__texto{
        margin-top: 2.5rem;
    }

    &__texto{
        margin-bottom: v.$separacion;
    }

    &__texto,
    &__link{
        color:v.$blanco;
        font-size: 1.5rem;
        text-align: center;

        @include m.tablet { 
              text-align: left;
         }
    }

    &__link:hover{

       color: red;
    }

    &__copyright{
        font-size: 1.5rem;
        color: black;
        text-align: center;
       
        &:last-of-type{
            padding-bottom: 5rem;
        }
    }
}