@use 'base/variables' as v;
@use 'base/mixins' as m;


.testimonial{
    background-color: v.$secundario;
    padding: 2rem;
    margin-bottom: 2rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}